.metafieldItem {
  display: flex;
}

.metafieldItem > * {
  width: 100%;
  margin: 10px 10px 10px 0;
}
.btn{
  margin: 10px 10px 10px 0;
}
.activator {
  margin-right: 10px;
}
.btnBlock{
  display: flex;
  justify-content: space-between;
}